.headings {
  text-align: center;
  color: #861212;
}
body {
  background-color: #b4a8a8;
}
.sub-headings {
  margin-left: 50px;
  color: #861212;
}

section {
  display: flex;
  flex-flow: column wrap;
}
article {
  flex: 1;
}
.tech-blog-2-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.examples {
  margin: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 60vw;
  position: relative;
  p {
    text-align: center;
  }
}
FOR example #header-text {
  text-align: center;
  color: #861212;
}
