.headings {
  text-align: center;
  color: #861212;
}
body {
  background-color: #b4a8a8;
}
.sub-headings {
  margin-left: 50px;
  color: #861212;
}

section {
  display: flex;
  flex-flow: column wrap;
}
article {
  flex: 1;
}
